<li>
  <table>
    <tr>
      <td rowspan="5"><a class="pull-left" href="<%= user_path(entry.user) %>">
        <%= gravatar_for(entry.user, "avatar_entry") %>
      </a></td>
      <td><span class="user"><%= link_to entry.title, entry %></span></td>
    </tr>
    <tr>
      <td><span class="content"><%= entry.description || "No description" %></span></td>
    </tr>
    <tr>
      <td class="timestamp"><span>Posted <%= time_ago_in_words(entry.created_at) %> ago.</span>
      by <span><b><%= link_to entry.user.name, entry.user %></b></span>
      </td>
    </tr>
    <tr>
      <td class="timestamp">
        <span class="glyphicon glyphicon-thumbs-up"></span> <%= entry.liked.count %> Like &nbsp;&nbsp;
        <span class="glyphicon glyphicon-comment"></span> <%= entry.comments.count %> Comment
      </td>
    </tr>
    <tr>
      <td class="content">
        <% if current_user.current_user?(entry.user) %>
          <%= link_to "delete", entry, method: :delete,
                      data: { confirm: t(".confirm") } %>
          <%= link_to "edit", edit_entry_path(entry) %>
        <% end %>
      </td>
    </tr>
  </table>
</li>