<% @user ||= current_user %>
<div class="text-center">
  <a href="<%= following_user_path(@user) %>" class = "btn btn-info">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t ".following" %>
  </a>
  <a href="<%= followers_user_path(@user) %>" class = "btn btn-info">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t ".followers" %>
  </a>
</div>